<%= form_for Product.new do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: "Name..." %>
    <%= f.text_area :price, placeholder: "Price" %>
    <%= f.text_area :description, placeholder: "Compose product description..." %>
  </div>
  <%= f.submit "Post Product", class: "btn btn-primary" %>
<% end %>