<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "STARLIGHT KIDS", root_path, id:"logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Products", products_path %></li>
          <li><%= link_to "Cart", cart_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>
  </div>
</header>